
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
  margin-top: 0px;
  margin-bottom: 15px;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url("/img/header.jpg");
  background-size: 100% 100%;
  border-radius: 0 !important;
}

.dropdown-menu {
  min-width: 5rem;
}

#map{
  height:300px;
}
